@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*google font  */

/*! common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
.dark-1{
    color: #131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.btn{
    background-color: #FF900E;
    padding: 21px 25px;
    border: none;
    color: white;
    border-radius: 8px;font-size: 1.25rem;
    font-weight: 600;
}
main > section{
    margin-top: 130px;
}

/*! common css end*/

/* nav section */
#header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 5px 0;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 3rem;
    font-weight: bold;
    
}
.nav-menu{
    display: flex;
    gap: 25px;
}
.nav-menu li {
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    /* color: #424242; */
    font-weight: 500;
    font-size: 18px;
}
.banner,.navbar{
    max-width: 1200px;
    margin: 0 auto;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
/*! banner section */
#banner{
    max-width: 1140px;
    margin: 0 auto;
}
#banner button{
    margin-top: 37px;
    margin-bottom: 50px;
}
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-top: 116px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    font-weight: normal;
    font-size: 1rem;
    margin-top: 30px;
}
.banner-image{
    width: 100%;
    margin-bottom: 45px;
}
/* team-features area */
.team-features{
    display: flex;
    align-items: center;
    gap: 73px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features-content{
    max-width: 537px;
}
.feature-heading{
    font-size: 2.8rem;
    font-weight:500;
}
.feature-description{
    font-size: 1rem;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 32px;
}
/* team-features area */
/*?responsive area  */
@media screen and (max-width: 767px) {
    .navbar,.nav-menu, .team-features{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1,1fr) ;
    }
    .features-content{
        text-align: center;
    }
}
/* medium size device */
@media screen and (min-width: 768px) and (max-width:991px){
    .team-features{
        flex-direction: column;
        text-align: center;
    }
}
/*?responsive area  */